In [1]:
import pandas as pd
import numpy as np

## Train

In [4]:
train = pd.read_csv('../Train/train_set_geo_level_sum_base.csv')

train.head(10)

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,base_percentage,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,1,24381,270,37,1.200000,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,1,19080,199,16,1.142857,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,1,14889,1760,136,1.000000,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,0,0,0,1,6252,205,31,1.200000,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,1,8220,1038,122,0.888889,3
5,8,558,6089,2,10,9,5,0,1,0,...,0,0,0,0,1,19080,419,38,1.800000,2
6,9,475,12066,2,25,3,4,0,1,0,...,0,0,0,0,1,3958,138,9,0.750000,3
7,20,323,12236,2,0,8,6,0,0,0,...,0,0,0,0,1,17216,251,20,1.333333,1
8,0,757,7219,2,15,8,6,0,1,0,...,0,0,0,0,1,4011,295,37,1.333333,2
9,26,886,994,1,0,13,4,0,0,0,...,0,0,0,0,1,22615,1053,107,3.250000,1

In [8]:
pos = len(train.columns) - 1

train.insert(pos, "area_per_height", train['area_percentage'] * train['height_percentage'])

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,base_percentage,area_per_height,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,1,24381,270,37,1.200000,30,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,1,19080,199,16,1.142857,56,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,1,14889,1760,136,1.000000,25,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,1,6252,205,31,1.200000,30,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,1,8220,1038,122,0.888889,72,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,1,5624,116,14,2.000000,18,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,1,21813,261,49,1.200000,30,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,1,21813,333,22,0.857143,42,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,1,22615,4038,236,2.333333,84,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,3,14889,333,41,1.166667,42,3

In [9]:
train.to_csv('../Train/train_set_geo_level_sum_base_area_per_height.csv', index=False)