In [1]:
import pandas as pd

## Train

In [2]:
train = pd.read_csv('../Train/train_set_sin_building_id.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3

In [3]:
train['legal_ownership_status'] = train['legal_ownership_status'].replace({"a": 0, "r": 1, "v": 2, "w": 3})
train['plan_configuration'] = train['plan_configuration'].replace({"a": 0, "c": 1, "d": 2, "f": 3, "m": 4, "n": 5, "o": 6, "q": 7, "s": 8, "u": 9})
train['position'] = train['position'].replace({"j": 0, "o": 1, "s": 2, "t": 3})
train['other_floor_type'] = train['other_floor_type'].replace({"j": 0, "q": 1, "s": 2, "x": 3})
train['ground_floor_type'] = train['ground_floor_type'].replace({"f": 0, "m": 1, "v": 2, "x": 3, "z": 4})
train['roof_type'] = train['roof_type'].replace({"n": 0, "q": 1, "x": 2})
train['foundation_type'] = train['foundation_type'].replace({"h": 0, "i": 1, "r": 2, "u": 3, "w": 4})
train['land_surface_condition'] = train['land_surface_condition'].replace({"n": 0, "o": 1, "t": 2})

In [4]:
train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,2,2,0,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,1,2,0,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,2,2,0,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,2,2,0,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,2,2,0,...,0,0,0,0,0,0,0,0,0,3

In [5]:
train.to_csv('../Train/train_set_idea_v2.csv', index=False)

## Test

In [2]:
test = pd.read_csv('../Test/test_values.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0

In [3]:
test['legal_ownership_status'] = test['legal_ownership_status'].replace({"a": 0, "r": 1, "v": 2, "w": 3})
test['plan_configuration'] = test['plan_configuration'].replace({"a": 0, "c": 1, "d": 2, "f": 3, "m": 4, "n": 5, "o": 6, "q": 7, "s": 8, "u": 9})
test['position'] = test['position'].replace({"j": 0, "o": 1, "s": 2, "t": 3})
test['other_floor_type'] = test['other_floor_type'].replace({"j": 0, "q": 1, "s": 2, "x": 3})
test['ground_floor_type'] = test['ground_floor_type'].replace({"f": 0, "m": 1, "v": 2, "x": 3, "z": 4})
test['roof_type'] = test['roof_type'].replace({"n": 0, "q": 1, "x": 2})
test['foundation_type'] = test['foundation_type'].replace({"h": 0, "i": 1, "r": 2, "u": 3, "w": 4})
test['land_surface_condition'] = test['land_surface_condition'].replace({"n": 0, "o": 1, "t": 2})

In [4]:
test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,2,2,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,2,2,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,2,2,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,2,2,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,2,2,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test.to_csv('../Test/test_set_idea_v2.csv', index=False)