In [1]:
import pandas as pd
import numpy as np

## Función

In [3]:
def add_sum_cols(df, cols):
    for col in cols:
        values = pd.get_dummies(df[col]).sum().to_dict()

        new_col_name = col + "_sum"

        df[new_col_name] = df[col].map(values)

## Train

In [2]:
train = pd.read_csv('../Train/train_set_geo_level_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3

In [5]:
cols = ['count_floors_pre_eq', 'age']

In [6]:
add_sum_cols(train, cols)

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade,count_floors_pre_eq_sum,age_sum
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,1,24381,270,37,3,156623,18028
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,1,19080,199,16,2,156623,38896
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,1,14889,1760,136,3,156623,38896
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,1,6252,205,31,2,156623,38896
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,1,8220,1038,122,3,55617,18028

In [7]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,count_floors_pre_eq_sum,age_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,1,24381,270,37,156623,18028,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,1,19080,199,16,156623,38896,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,1,14889,1760,136,156623,38896,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,1,6252,205,31,156623,38896,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,1,8220,1038,122,55617,18028,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,1,5624,116,14,40441,2033,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,1,21813,261,49,156623,26041,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,1,21813,333,22,55617,2033,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,1,22615,4038,236,156623,38896,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,3,14889,333,41,55617,38896,3

In [8]:
train.to_csv('../Train/train_set_geo_floors_age_sum.csv', index=False)