In [119]:
import pandas as pd
import numpy as np

## Funciones

In [120]:
def add_sum_cols(df, cols):
    for col in cols:
        values = pd.get_dummies(df[col]).sum().to_dict()

        new_col_name = col + "_sum"

        df[new_col_name] = df[col].map(values)

## Train

In [121]:
train = pd.read_csv('../Train/train_set_sin_secondary_use.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,0,0,0,0,0,0,0,0,1,3
1,8,900,2812,2,10,8,7,0,1,0,0,0,0,0,0,0,0,0,1,2
2,21,363,8973,2,10,5,5,0,1,0,0,0,0,0,0,0,0,0,1,3
3,22,418,10694,2,10,6,5,0,1,0,0,0,0,1,1,0,0,0,1,2
4,11,131,1488,3,30,8,9,1,0,0,0,0,0,0,0,0,0,0,1,3

In [122]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [123]:
add_sum_cols(train, main_cols)

In [124]:
train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,damage_grade,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,3,24381,270,37
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,2,19080,199,16
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,3,14889,1760,136
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,2,6252,205,31
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,3,8220,1038,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,0,1,2,5624,116,14
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,0,1,3,21813,261,49
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,0,1,3,21813,333,22
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,0,1,2,22615,4038,236
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,0,3,3,14889,333,41

In [125]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,0,1,5624,116,14,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,0,1,21813,261,49,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,0,1,21813,333,22,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,0,1,22615,4038,236,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,0,3,14889,333,41,3

In [126]:
train.to_csv('../Train/train_set_geo_level_sum.csv', index=False)