In [1]:
import pandas as pd
import numpy as np

## Funciones

In [2]:
def add_sum_cols(df, cols):
    for col in cols:
        values = pd.get_dummies(df[col]).sum().to_dict()

        new_col_name = col + "_sum"

        df[new_col_name] = df[col].map(values)

## Train

sin secondary use

In [121]:
train = pd.read_csv('../Train/train_set_sin_secondary_use.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,0,0,0,0,0,0,0,0,1,3
1,8,900,2812,2,10,8,7,0,1,0,0,0,0,0,0,0,0,0,1,2
2,21,363,8973,2,10,5,5,0,1,0,0,0,0,0,0,0,0,0,1,3
3,22,418,10694,2,10,6,5,0,1,0,0,0,0,1,1,0,0,0,1,2
4,11,131,1488,3,30,8,9,1,0,0,0,0,0,0,0,0,0,0,1,3

In [122]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [123]:
add_sum_cols(train, main_cols)

In [124]:
train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,damage_grade,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,3,24381,270,37
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,2,19080,199,16
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,3,14889,1760,136
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,2,6252,205,31
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,3,8220,1038,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,0,1,2,5624,116,14
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,0,1,3,21813,261,49
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,0,1,3,21813,333,22
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,0,1,2,22615,4038,236
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,0,3,3,14889,333,41

In [125]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,1,1,0,0,0,1,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,8220,1038,122,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,0,0,0,1,5624,116,14,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,0,0,0,1,21813,261,49,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,0,0,0,1,21813,333,22,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,0,0,0,1,22615,4038,236,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,0,0,0,3,14889,333,41,3

In [126]:
train.to_csv('../Train/train_set_geo_level_sum.csv', index=False)

one hot encoding

In [3]:
train = pd.read_csv('../Train/train_set_one_hot_encoding.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_a,plan_configuration_o,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,0,0,0,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,0,0,0,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,0,0,0,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,0,0,1,0,0,0,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,0,0,0,3

In [4]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [5]:
add_sum_cols(train, main_cols)

In [6]:
train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,damage_grade,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,1,0,0,0,3,24381,270,37
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,1,0,0,0,2,19080,199,16
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,1,0,0,0,3,14889,1760,136
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,1,0,0,0,2,6252,205,31
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,1,0,0,0,3,8220,1038,122
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,1,0,0,0,2,5624,116,14
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,1,0,0,0,3,21813,261,49
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,1,0,0,0,3,21813,333,22
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,1,0,0,0,2,22615,4038,236
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,1,0,0,0,3,14889,333,41

In [7]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,1,0,0,0,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,1,0,0,0,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,1,0,0,0,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,1,0,0,0,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,1,0,0,0,8220,1038,122,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,0,1,0,0,0,5624,116,14,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,0,1,0,0,0,21813,261,49,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,0,1,0,0,0,21813,333,22,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,0,1,0,0,0,22615,4038,236,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,0,1,0,0,0,14889,333,41,3

In [8]:
train.to_csv('../Train/train_set_one_hot_encoding_geo_level_sum.csv', index=False)

binary encoding

In [3]:
train = pd.read_csv('../Train/train_set_binary_encoding_geo_levels_sum_mult_floors_age_sum.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_b1,plan_configuration_b0,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,1,0,0,1,156623,18028,35642556,12691,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,0,0,1,156623,38896,20246400,3720,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,1,0,0,1,156623,38896,68401179,9357,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,0,0,1,156623,38896,98342024,11134,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,0,0,1,55617,18028,2144208,1630,3

In [4]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']
add_sum_cols(train, main_cols)
train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,damage_grade,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,6,487,12198,2,30,6,5,1,1,0,...,0,1,156623,18028,35642556,12691,3,24381,270,37
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,156623,38896,20246400,3720,2,19080,199,16
2,21,363,8973,2,10,5,5,0,1,0,...,0,1,156623,38896,68401179,9357,3,14889,1760,136
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,156623,38896,98342024,11134,2,6252,205,31
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,55617,18028,2144208,1630,3,8220,1038,122

In [5]:
cols = list(train.columns)
cols.remove('damage_grade')
cols.append('damage_grade')

train = train[cols]

train

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,1,156623,18028,35642556,12691,24381,270,37,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,156623,38896,20246400,3720,19080,199,16,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,1,156623,38896,68401179,9357,14889,1760,136,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,156623,38896,98342024,11134,6252,205,31,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,55617,18028,2144208,1630,8220,1038,122,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260596,25,1335,1621,1,55,6,3,0,1,0,...,0,1,40441,2033,54100875,2981,5624,116,14,2
260597,17,715,2060,2,0,6,5,0,1,0,...,0,1,156623,26041,25039300,2792,21813,261,49,3
260598,17,51,8163,3,55,6,7,0,1,0,...,0,1,55617,2033,7077321,8231,21813,333,22,3
260599,26,39,1851,2,10,14,6,0,0,0,...,0,1,156623,38896,1876914,1916,22615,4038,236,2
260600,21,9,9101,3,10,7,6,0,1,0,...,0,1,55617,38896,1720089,9131,14889,333,41,3

In [6]:
train.to_csv('../Train/train_set_binary_encoding_geo_levels_sum_id_mult_floors_age_sum.csv', index=False)

## Test

sin secondary use

In [16]:
test = pd.read_csv('../Test/test_set_sin_secondary_use.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,has_superstructure_cement_mortar_stone,has_superstructure_mud_mortar_brick,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families
0,300051,17,596,11307,3,20,7,6,0,1,0,0,0,0,0,0,0,0,0,1
1,99355,6,141,11987,2,25,13,5,0,1,0,0,0,0,0,0,0,0,0,1
2,890251,22,19,10044,2,5,4,5,0,1,0,0,0,0,0,0,0,0,0,1
3,745817,26,39,633,1,0,19,3,0,0,0,0,0,1,0,0,0,0,0,2
4,421793,17,289,7970,3,15,8,7,0,1,0,0,0,0,0,0,0,0,0,1

In [17]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [18]:
add_sum_cols(test, main_cols)

In [19]:
test

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_superstructure_cement_mortar_brick,has_superstructure_timber,has_superstructure_bamboo,has_superstructure_rc_non_engineered,has_superstructure_rc_engineered,has_superstructure_other,count_families,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,1,0,0,0,0,0,2,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,7452,62,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,0,1,...,0,1,0,0,0,0,1,4894,96,10
86864,663567,10,1407,11907,3,25,6,7,1,1,...,0,0,0,0,0,0,1,7320,140,7
86865,1049160,22,1136,7712,1,50,3,3,0,1,...,0,1,0,0,0,0,1,2106,61,4
86866,442785,6,1041,912,2,5,9,5,1,1,...,0,0,0,0,0,0,1,8104,105,32
86867,501372,26,36,6436,2,10,11,4,0,0,...,1,0,0,0,0,0,1,7387,263,35

In [20]:
test.to_csv('../Test/test_set_geo_level_sum.csv', index=False)

one hot encoding

In [21]:
test = pd.read_csv('../Test/test_set_one_hot_encoding.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_s,plan_configuration_a,plan_configuration_o,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,1,0,0,0
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,0,0,0,1,0,0,0
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,1,0,0,0
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,0,0,0,1,0,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,1,0,0,0

In [22]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']

In [23]:
add_sum_cols(test, main_cols)

In [24]:
test

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,1,0,0,0,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,0,1,0,0,0,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,1,0,0,0,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,0,1,0,0,0,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,1,0,0,0,7452,62,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86863,310028,4,605,3623,3,70,20,6,0,1,...,0,0,0,0,0,1,0,4894,96,10
86864,663567,10,1407,11907,3,25,6,7,1,1,...,0,0,0,1,0,0,0,7320,140,7
86865,1049160,22,1136,7712,1,50,3,3,0,1,...,0,0,0,1,0,0,0,2106,61,4
86866,442785,6,1041,912,2,5,9,5,1,1,...,0,0,0,0,1,0,0,8104,105,32
86867,501372,26,36,6436,2,10,11,4,0,0,...,0,0,0,1,0,0,0,7387,263,35

In [25]:
test.to_csv('../Test/test_set_one_hot_encoding_geo_level_sum.csv', index=False)

binary encoding

In [3]:
test = pd.read_csv('../Test/test_set_binary_encoding_geo_levels_sum_mult_floors_age_sum.csv')

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,plan_configuration_b2,plan_configuration_b1,plan_configuration_b0,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,1,0,0,1,18554,10610,114562524,11920
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,1,0,0,1,52406,8220,10141002,12134
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,1,0,0,1,52406,11348,4198392,10085
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,0,0,1,13264,8684,641862,698
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,1,0,0,1,18554,12064,39156610,8276

In [4]:
main_cols = ['geo_level_1_id', 'geo_level_2_id', 'geo_level_3_id']
add_sum_cols(test, main_cols)
test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,count_floors_pre_eq_sum,age_sum,geo_level_multiply,geo_level_sum,geo_level_1_id_sum,geo_level_2_id_sum,geo_level_3_id_sum
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,1,18554,10610,114562524,11920,7452,45,4
1,99355,6,141,11987,2,25,13,5,0,1,...,0,0,1,52406,8220,10141002,12134,8104,65,3
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,1,52406,11348,4198392,10085,2106,17,4
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,13264,8684,641862,698,7387,1329,190
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,1,18554,12064,39156610,8276,7452,62,7

In [5]:
test.to_csv('../Test/test_set_binary_encoding_geo_levels_sum_id_mult_floors_age_sum.csv', index=False)