In [1]:
import pandas as pd

In [2]:
def remove_secondary_use(cols):
    new_cols = []
    for col in cols:
        if not col.startswith('has_secondary'):
            new_cols.append(col)
    
    return new_cols

## Train

One Hot Encoding

In [13]:
train = pd.read_csv('../Train/train_set_one_hot_encoding.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_a,plan_configuration_o,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,0,0,0,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,0,0,0,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,0,0,0,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,0,0,1,0,0,0,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,0,0,0,3

In [15]:
new_cols = remove_secondary_use(list(train.columns))
train = train[new_cols]

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_a,plan_configuration_o,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,1,0,0,0,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,1,0,0,0,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,1,0,0,0,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,0,0,1,0,0,0,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,1,0,0,0,3

In [18]:
train.to_csv('../Train/train_set_one_hot_encoding_sin_secondary_use.csv', index=False)

Binary Encoding

In [3]:
train = pd.read_csv('../Train/train_set_binary_encoding.csv')

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,position_b1,position_b0,plan_configuration_b3,plan_configuration_b2,plan_configuration_b1,plan_configuration_b0,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,1,0,0,0,0,1,0,0,1,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,0,0,0,1,0,0,1,2
2,21,363,8973,2,10,5,5,0,1,0,...,1,0,0,0,0,1,0,0,1,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,0,0,0,1,0,0,1,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,0,0,0,1,0,0,1,3

In [4]:
new_cols = remove_secondary_use(list(train.columns))
train = train[new_cols]

train.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,position_b1,position_b0,plan_configuration_b3,plan_configuration_b2,plan_configuration_b1,plan_configuration_b0,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,1,0,0,0,0,1,0,0,1,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,1,0,0,0,1,0,0,1,2
2,21,363,8973,2,10,5,5,0,1,0,...,1,0,0,0,0,1,0,0,1,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,1,0,0,0,1,0,0,1,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,1,0,0,0,1,0,0,1,3

In [5]:
train.to_csv('../Train/train_set_binary_encoding_sin_secondary_use.csv', index=False)

## Test

One Hot Encoding

In [19]:
test = pd.read_csv('../Test/test_set_one_hot_encoding.csv')

new_cols = remove_secondary_use(list(test.columns))
test = test[new_cols]

test.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,plan_configuration_s,plan_configuration_a,plan_configuration_o,plan_configuration_m,plan_configuration_n,plan_configuration_f,legal_ownership_status_v,legal_ownership_status_a,legal_ownership_status_w,legal_ownership_status_r
0,17,596,11307,3,20,7,6,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1,6,141,11987,2,25,13,5,0,1,0,...,0,0,0,0,0,0,1,0,0,0
2,22,19,10044,2,5,4,5,0,1,0,...,0,0,0,0,0,0,1,0,0,0
3,26,39,633,1,0,19,3,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,17,289,7970,3,15,8,7,0,1,0,...,0,0,0,0,0,0,1,0,0,0

In [20]:
test.to_csv('../Test/test_set_one_hot_encoding_sin_secondary_use.csv', index=False)

Binary Encoding

In [25]:
test = pd.read_csv('../Test/test_set_binary_encoding.csv')

new_cols = remove_secondary_use(list(test.columns))
test = test[new_cols]

test.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,position_b2,position_b1,position_b0,plan_configuration_b3,plan_configuration_b2,plan_configuration_b1,plan_configuration_b0,legal_ownership_status_b2,legal_ownership_status_b1,legal_ownership_status_b0
0,17,596,11307,3,20,7,6,0,1,0,...,0,0,1,0,0,0,1,0,0,1
1,6,141,11987,2,25,13,5,0,1,0,...,0,0,1,0,0,0,1,0,0,1
2,22,19,10044,2,5,4,5,0,1,0,...,0,0,1,0,0,0,1,0,0,1
3,26,39,633,1,0,19,3,0,0,0,...,0,1,0,0,0,0,1,0,0,1
4,17,289,7970,3,15,8,7,0,1,0,...,0,1,0,0,0,0,1,0,0,1

In [26]:
test.to_csv('../Test/test_set_binary_encoding_sin_secondary_use.csv')