In [1]:
import pandas as pd

## Train

In [13]:
train_set = pd.read_csv('../Train/train_set_sin_building_id.csv')

train_set.head(10)

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,roof_type,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,o,r,n,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,t,r,n,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,t,r,n,...,0,0,0,0,0,0,0,0,0,3
5,8,558,6089,2,10,9,5,t,r,n,...,0,0,0,0,0,0,0,0,0,2
6,9,475,12066,2,25,3,4,n,r,n,...,0,0,0,0,0,0,0,0,0,3
7,20,323,12236,2,0,8,6,t,w,q,...,0,0,0,0,0,0,0,0,0,1
8,0,757,7219,2,15,8,6,t,r,q,...,0,0,0,0,0,0,0,0,0,2
9,26,886,994,1,0,13,4,t,i,n,...,0,0,0,0,0,0,0,0,0,1

In [14]:
columns = train_set.columns

for col in columns:
    if train_set[col].dtype == 'O':
        train_set.drop(col, axis='columns', inplace=True)

train_set.head()

,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,has_superstructure_stone_flag,...,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other,damage_grade
0,6,487,12198,2,30,6,5,1,1,0,...,0,0,0,0,0,0,0,0,0,3
1,8,900,2812,2,10,8,7,0,1,0,...,0,0,0,0,0,0,0,0,0,2
2,21,363,8973,2,10,5,5,0,1,0,...,0,0,0,0,0,0,0,0,0,3
3,22,418,10694,2,10,6,5,0,1,0,...,0,0,0,0,0,0,0,0,0,2
4,11,131,1488,3,30,8,9,1,0,0,...,0,0,0,0,0,0,0,0,0,3

In [16]:
train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 260601 entries, 0 to 260600
Data columns (total 31 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   geo_level_1_id                          260601 non-null  int64
 1   geo_level_2_id                          260601 non-null  int64
 2   geo_level_3_id                          260601 non-null  int64
 3   count_floors_pre_eq                     260601 non-null  int64
 4   age                                     260601 non-null  int64
 5   area_percentage                         260601 non-null  int64
 6   height_percentage                       260601 non-null  int64
 7   has_superstructure_adobe_mud            260601 non-null  int64
 8   has_superstructure_mud_mortar_stone     260601 non-null  int64
 9   has_superstructure_stone_flag           260601 non-null  int64
 10  has_superstructure_cement_mortar_stone  260601 non-null  int64
 11  has_superstructure_mud_mortar_brick     260601 non-null  int64
 12  has_superstructure_cement_mortar_brick  260601 non-null  int64
 13  has_superstructure_timber               260601 non-null  int64
 14  has_superstructure_bamboo               260601 non-null  int64
 15  has_superstructure_rc_non_engineered    260601 non-null  int64
 16  has_superstructure_rc_engineered        260601 non-null  int64
 17  has_superstructure_other                260601 non-null  int64
 18  count_families                          260601 non-null  int64
 19  has_secondary_use                       260601 non-null  int64
 20  has_secondary_use_agriculture           260601 non-null  int64
 21  has_secondary_use_hotel                 260601 non-null  int64
 22  has_secondary_use_rental                260601 non-null  int64
 23  has_secondary_use_institution           260601 non-null  int64
 24  has_secondary_use_school                260601 non-null  int64
 25  has_secondary_use_industry              260601 non-null  int64
 26  has_secondary_use_health_post           260601 non-null  int64
 27  has_secondary_use_gov_office            260601 non-null  int64
 28  has_secondary_use_use_police            260601 non-null  int64
 29  has_secondary_use_other                 260601 non-null  int64
 30  damage_grade                            260601 non-null  int64
dtypes: int64(31)
memory usage: 61.6 MB

In [17]:
train_set.to_csv('../Train/train_set_sin_categoricos.csv', index=False)

## Test

In [2]:
test = pd.read_csv('../Test/test_values.csv')

test.head(10)

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,land_surface_condition,foundation_type,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,t,r,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,t,r,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,t,r,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,t,r,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,t,r,...,0,0,0,0,0,0,0,0,0,0
5,871976,22,170,4029,1,55,4,3,t,r,...,0,0,0,0,0,0,0,0,0,0
6,691228,26,432,6794,2,0,6,7,n,r,...,0,0,0,0,0,0,0,0,0,0
7,896100,8,1373,958,2,35,2,8,t,r,...,0,0,0,0,0,0,0,0,0,0
8,343471,16,244,3521,2,30,6,5,t,r,...,0,0,0,0,0,0,0,0,0,0
9,766647,26,761,3137,2,5,6,7,n,r,...,0,0,0,0,0,0,0,0,0,0

In [3]:
columns = test.columns

for col in columns:
    if test[col].dtype == 'O':
        test.drop(col, axis='columns', inplace=True)

test.head()

,building_id,geo_level_1_id,geo_level_2_id,geo_level_3_id,count_floors_pre_eq,age,area_percentage,height_percentage,has_superstructure_adobe_mud,has_superstructure_mud_mortar_stone,...,has_secondary_use_agriculture,has_secondary_use_hotel,has_secondary_use_rental,has_secondary_use_institution,has_secondary_use_school,has_secondary_use_industry,has_secondary_use_health_post,has_secondary_use_gov_office,has_secondary_use_use_police,has_secondary_use_other
0,300051,17,596,11307,3,20,7,6,0,1,...,0,0,0,0,0,0,0,0,0,0
1,99355,6,141,11987,2,25,13,5,0,1,...,1,0,0,0,0,0,0,0,0,0
2,890251,22,19,10044,2,5,4,5,0,1,...,0,0,0,0,0,0,0,0,0,0
3,745817,26,39,633,1,0,19,3,0,0,...,0,0,1,0,0,0,0,0,0,0
4,421793,17,289,7970,3,15,8,7,0,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
test.to_csv('../Test/test_set_sin_categoricos.csv', index=False)